{% extends '_base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
 {% block content %}
      <div class="top-heading">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1>“Essay Website”</h1>
                  <p>Our recognizable writing organization will assist you in any problem you experience at college.
                     It’s time you broke free from your wearing studies and
                  </p>
               </div>
               <div class="col-md-4">
                  <div class="service-box">
                     <h3>recognizable writing</h3>
                     <p>Our recognizable writing organization will assist you in any problem you</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="service-box">
                     <h3>will assist you</h3>
                     <p>write my essay for me,” and then let us take good care of you</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="service-box">
                     <h3>wearing studies</h3>
                     <p>WriteMyEssayOnline employs professional essay writers who have academic</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="introduction">
         <div class="container">
            <div class="title"><span>Our Services</span></div>
            <div class="row">
               <div class="col-md-6">
                  <div class="l-box">
                     <h2>employs professional essay writers</h2>
                     <span>then let us take good</span>
                     <p>Our smart collaboration system allows you to optimize the order completion process by
                        providing your writer with the instructions on your writing assignments. With us, you will
                        have direct communication with your writer via chat.Our smart collaboration system allows
                        you to optimize the order completion process by providing your writer with the instructions
                        on your writing assignments. With us, you will have direct communication with your writer
                        via chat.
                     </p>
                     <a href="#" class="main-btn">More</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="r-box">
                     <div class="col-md-6 text-center">
                        <div class="counter-box">
                           <img src="{% static 'img/blog/service/article (1).png' %}" alt="">
                           <span>1356085</span>
                           <h4>writers active papers</h4>
                        </div>
                     </div>
                     <div class="col-md-6 text-center">
                        <div class="counter-box">
                           <img src="{% static 'img/blog/service/article (2).png' %}" alt="">
                           <span>568</span>
                           <h4>average quality score</h4>
                        </div>
                     </div>
                     <div class="col-md-6 text-center">
                        <div class="counter-box">
                           <img src="{% static 'img/blog/service/blog.png' %}" alt="">
                           <span>325</span>
                           <h4>witers online now</h4>
                        </div>
                     </div>
                     <div class="col-md-6 text-center">
                        <div class="counter-box">
                           <img src="{% static 'img/blog/service/copywriting.png' %}" alt="">
                           <span>3201</span>
                           <h4>orders delivered on time</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="faq">
         <div class="container">
            <div class="title"><span>FAQ</span></div>
            <div class="row">
               <div class="col-md-5">
                  <div class="faq-img text-center">
                     <img src="{% static 'img/blog/faq.png' %}" alt="">
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="faq-accardion">
                     <div class="accardion-box">
                        <h4>Do you guarantee free revisions to all customers?<span><i class="fa fa-angle-down"></i></span></h4>
                        <p> their orders. If a customer feels somewhat dissatisfied with their paper, they are welcome to ask the writer to make necessary changes. Then, writers will revise the paper as many times as it is required for customers to be fully pleased with their orders. However, it’s worthy to mention that this option is not popular with our clients as the quality our experts provide is always.</p>
                     </div>
                     <div class="accardion-box">
                        <h4>client to settle on which writer<span><i class="fa fa-angle-down"></i></span></h4>
                        <p>A bid is a fee writers offer to clients for each particular order. Experts leave their bids under the posted order, waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good.</p>
                     </div>
                     <div class="accardion-box">
                        <h4>Use our help to free yourself<span><i class="fa fa-angle-down"></i></span></h4>
                        <p>A bid is a fee writers offer to clients for each particular order. Experts leave their bids under the posted order, waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good.</p>
                     </div>
                     <div class="accardion-box">
                        <h4>the writer with additiona<span><i class="fa fa-angle-down"></i></span></h4>
                        <p>A bid is a fee writers offer to clients for each particular order. Experts leave their bids under the posted order, waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="description-box">
         <div class="container">
            <!-- <div class="title"><span>Help yourself to our “delicious” benefits</span></div> -->
            <div class="row">
               <div class="col-md-8">
                  <div class="main-text">
                     <h2>waiting for a client to settle</h2>
                     <p>a fee writers offer to clients for each particular order. Experts leave their bids under the posted order, waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="main-text">
                     <img src="{% static 'img/blog/content.png' %}" alt="">
                  </div>
               </div>
            </div>
            <br><br>
            <div class="row">
               <div class="col-md-4">
                  <div class="text-boxs">
                     <img src="{% static 'img/blog/copywriter.png' %}" alt="">
                     <h3>Experts leave their</h3>
                     <p>waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="text-boxs">
                     <img src="{% static 'img/blog/writer.png' %}" alt="">
                     <h3>where a bid is the price</h3>
                     <p>waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="text-boxs">
                     <img src="{% static 'img/blog/writing.png' %}" alt="">
                     <h3>what is used in auctions</h3>
                     <p>waiting for a client to settle on which writer, among those who left their bids, they want to choose. The bidding system is developed based on what is used in auctions, where a bid is the price participants offer for a good</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="blog-box">
         <div class="container">
            <div class="title"><span>Articles & Blog</span></div>
            <div class="row">
                {% for p in posts %}
                      <div class="col-md-4">
                  <a href="{% url 'post_detail' p.pk %}">
                     <div class="article-box">
                        <div class="a-text">
                           <h4>{{ p.title }} </h4>
                           <p>{{ p.text|slice:":107"  }}...</p>
                        </div>
                        <div class="a-meta">
                           <span>{{ p.updated_at }}</span>
                           <span><i class="fa fa-comment-o"></i>&nbsp;7</span>
                           <span><i class="fa fa-edit"></i>&nbsp{{ p.author }}</span>
                        </div>
                     </div>
                  </a>
               </div>
                {% endfor %}

               <div class="col-md-12 text-right"><a href="{% url 'posts_list' %} " class="main-btn">More &nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i></a></div>
            </div>
         </div>
      </div>
      <div class="levels text-center">
         <div class="container">
            <div class="title" style="margin-bottom: 30px;"><span>Follow These Steps</span></div>
            <div class="row">
               <div class="col-md-3">
                  <div class="col-one coln">
                     <span>1</span>
                     <h3>Order</h3>
                  </div>
               </div>
               <div class="col-md-3 ">
                  <div class="col-two coln">
                     <span>2</span>
                     <h3>Upload</h3>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="col-three coln">
                     <span>3</span>
                     <h3>Pay</h3>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="col-four coln">
                     <span>4</span>
                     <h3>Buy</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="contact-us ">
         <div class="container text-center">
            <div class="row">
               <div class="col-md-12">
                  <div class="text-box">
                     <div class="col-md-8">
                        <p>writer with the instructions on your writing assignments</p>
                     </div>
                     <div class="col-md-4">
                        <a href="" class="main-btn">Contact Us</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}